*{
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  font-size: small;
}

.contenedor{
  top: 50px;
  left: 400px;
  position: absolute;
}
.naranja{
  width: 300px;
  height: 450px;
  background-color: orange;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

}
.rojo{
  width: 150px;
  height: 30px;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -15px;
  text-align: center;
  padding: 2px;
}
span{
  font-size: 18px;
}
.imagen{
  width: 200px;
  height: 200px;
}
ul{
  list-style-type: none;
  margin: 5px;
  padding: 10px;
}
